#section1 {
	overflow: hidden;
}

	#section1 > h1 {
		color: #00b5c8;
		font-size: 45px;
		margin-top: 113px;
	}

	#section1 #part2 {
		overflow: hidden;
		width: 661px;
		height: 147px;
		background-image: url(../img/esb/section1-part2.png);
		background-size: 100% 100%;
		margin-top: 45px;
		margin-bottom: 35px;
	}

		#section1 #part2 > p {
			font-size: 25px;
			font-style: italic;
		}

			#section1 #part2 > p:nth-child(1) {
				margin-top: 26px;
			}

			#section1 #part2 > p:nth-last-child(1) {
				margin-bottom: 26px;
			}

	#section1 #part3 {
		font-size: 23px;
		margin-bottom: 113px;
		margin-left: 10px;
		margin-right: 10px;
	}

#section2 {
	overflow: hidden;
	background-color: #f2f2f2;
}

	#section2 > h1 {
		color: #00b5c8;
		font-size: 45px;
		margin-top: 100px;
		margin-bottom: 88px;
	}

	#section2 #part2 {
		color: rgb(68, 120, 144);
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: 2px;
		width: 60em;
		text-align: left;
	}

	#section2 #part3 {
		color: rgb(68, 120, 144);
		margin-top: 75px;
		margin-bottom: 131px;
	}

		#section2 #part3 .half {
			display: inline-block;
			vertical-align: top;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			text-align: left;
			width: 461px;
			height: 737px;
			background-image: url(../img/esb/section2-part3.png);
			background-size: 100% 100%;
			padding-top: 45px;
			padding-left: 70px;
		}

			#section2 #part3 .half:nth-child(1) {
				margin-right: 75px;
			}

			#section2 #part3 .half > h2 {
				font-size: 30px;
				letter-spacing: 3px;
				margin: 0;
			}

			#section2 #part3 .half > a {
				display: block;
				color: rgb(68, 120, 144);
				font-size: 20px;
				text-align: right;
				margin-top: 45px;
				margin-right: 40px;
			}


			#section2 #part3 .half > ul {
				list-style-type: none;
				font-size: 20px;
				padding-left: 0;
				margin-top: 40px;
			}

				#section2 #part3 .half > ul > li {
					background-image: url(../img/esb/section2-part3-li.png);
					background-size: 9px 9px;
					background-position: left center;
					background-repeat: no-repeat;
					padding-left: 1em;
					margin-bottom: 16px;
				}

	#section2 #part4 {
		width: 1276px;
		height: 544px;
		background-image: url(../img/esb/section2-part4.png);
		background-size: 100% 100%;
	}

		#section2 #part4 > img {
			width: 848px;
			height: 563px;
			margin-top: -9.5px;
		}

	#section2 #part5 {
		font-size: 22px;
		width: 57em;
		line-height: 2em;
		text-align: left;
		margin: 110px 10px 183px 10px;
	}

#section3 {
	overflow: hidden;
}

	#section3 > h1 {
		color: #00b5c8;
		font-size: 45px;
		margin-top: 173px;
		margin-bottom: 42px;
	}

	#section3 > p {
		font-size: 20px;
		line-height: 2em;
		width: 62em;
		margin-bottom: 0;
		margin-left: 10px;
		margin-right: 10px;
	}

	#section3 > img {
		width: 1303px;
		height: 226px;
		margin-top: 102px;
		margin-bottom: 143px;
	}

#section4 {
	overflow: hidden;
	background-color: #f2f2f2;
}

	#section4 > h1 {
		font-size: 45px;
		margin-top: 96px;
		margin-bottom: 75px;
	}

	#section4 .part {
	}

		#section4 .part .content {
			display: inline-block;
			vertical-align: top;
		}

			#section4 .part .content > h2 {
				color: rgb(68, 120, 144);
				font-size: 42px;
				text-align: left;
				margin-top: 70px;
				margin-bottom: 35px;
			}

			#section4 .part .content > p {
				font-size: 22px;
				text-align: left;
				line-height: 1.5;
			}

		#section4 .part#part1 {
			margin-bottom: 138px;
		}

			#section4 .part#part1 .content {
				margin-right: 115px;
			}

				#section4 .part#part1 .content > p {
					width: 29em;
				}

			#section4 .part#part1 img {
				width: 551px;
			}

		#section4 .part#part2 {
			margin-bottom: 107px;
		}

			#section4 .part#part2 .content {
				margin-left: 50px;
				margin-right: 90px;
			}

				#section4 .part#part2 .content > p {
					width: 32em;
				}

			#section4 .part#part2 img {
				width: 690px;
			}

		#section4 .part#part3 {
			margin-bottom: 171px;
		}

			#section4 .part#part3 .content {
				margin-right: 95px;
			}

				#section4 .part#part3 .content > p {
					width: 31em;
				}

			#section4 .part#part3 img {
				width: 519px;
				margin-right: 10px;
			}
